*
!/**/
!*.*

# Go build outputs
/bin/

# Test binary, coverage reports
*.test
*.out
*.coverprofile
*.cover.out

# Output of the go coverage tool
coverage.html

# Logs
*.log

# Dependency directories (if using vendoring)
vendor/

# Go workspace file (go.work)
go.work
go.work.sum

# IDE settings (JetBrains GoLand)
.idea/
*.iml

# Editor/Tool temp files
*.swp
*.swo
*.bak
*.tmp

# Go Modules cache (optional, usually not needed unless you manually vendor)
**/pkg/mod/
